[submodule "ext/hwmalloc"]
	path = ext/hwmalloc
    url = https://github.com/stubbiali/hwmalloc.git
	branch = remove-clang-hip-workaround
[submodule "ext/googletest"]
	path = ext/googletest
	url = https://github.com/google/googletest.git
    branch = main
